<!-- PLANTILLA CRUD -->
<app-crud [items]="filteredUsers" 
[columns]="columns" 
[canDelete]="true" 
[canExport]="false"
[canSeeDetail]="false" 
(create)="openCreateModal()"
(edit)="openEditModal($event)" 
(delete)="confirmDelete($event)"
(search)="searchUser($event)">
</app-crud>

<!-- FORMULARIOS -->
<p-dialog [(visible)]="showModal" [style]="{width: '450px'}" [header]="isEditing ? 'Editar Usuario' : 'Crear Usuario'"
  [modal]="true" class="p-fluid" appCrudModal [isEditing]="isEditing" (save)="saveUser()" (cancel)="closeModal()">
  <ng-template pTemplate="content">
    <form [formGroup]="userForm">

      <div class="field-group">

        <div class="field">
          <label for="cedulaUsuario">Cédula</label>
          <input type="text" pInputText id="cedulaUsuario" formControlName="cedulaUsuario" required autofocus />
          <small class="p-error"
            *ngIf="userForm.get('cedulaUsuario')?.invalid && userForm.get('cedulaUsuario')?.touched">
            La cédula es obligatoria.
          </small>
        </div>

        <div class="field">
          <label for="idRol">Rol</label>
          <p-dropdown [options]="roles" formControlName="idRol" optionLabel="nombreRol" optionValue="idRol"
            placeholder="Seleccionar rol"></p-dropdown>
          <small class="p-error" *ngIf="userForm.get('idRol')?.invalid && userForm.get('idRol')?.touched">
            El rol es obligatorio.
          </small>
        </div>
      </div>

      <div class="field-group">

        <div class="field">
          <label for="nombreUsuario">Nombre</label>
          <input type="text" pInputText id="nombreUsuario" formControlName="nombreUsuario" required />
        </div>

        <div class="field">
          <label for="apellidoUsuario">Apellido</label>
          <input type="text" pInputText id="apellidoUsuario" formControlName="apellidoUsuario" />
        </div>
      </div>

      <div class="field">
        <label for="telefonoUsuario">Teléfono</label>
        <input type="text" maxlength="8" pInputText id="telefonoUsuario" formControlName="telefonoUsuario" />
      </div>

      <div class="field">
        <label for="correoUsuario">Correo</label>
        <input type="email" pInputText id="correoUsuario" formControlName="correoUsuario" />
      </div>

      <div class="field-group">
      <div class="field">
        <label for="contraseñaUsuario">Contraseña</label>
        <input type="password" pInputText id="contraseñaUsuario" formControlName="contraseñaUsuario" required />
        <small class="p-error"
          *ngIf="userForm.get('contraseñaUsuario')?.invalid && userForm.get('contraseñaUsuario')?.touched">
          La contraseña es obligatoria.
        </small>
      </div>

      <div class="field">
        <label for="contraseñaUsuario">Confirmar contraseña</label>
        <input type="password" pInputText id="contraseñaUsuario" formControlName="contraseñaUsuario" required />
        <small class="p-error"
          *ngIf="userForm.get('contraseñaUsuario')?.invalid && userForm.get('contraseñaUsuario')?.touched">
          La contraseña es obligatoria.
        </small>
      </div>
    </div>

    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text custom-cancel-btn" (click)="closeModal()"></button>
    <button pButton pRipple [label]="isEditing ? 'Actualizar' : 'Guardar'" icon="pi pi-check" class="p-button-text custom-save-btn"
      (click)="saveUser()"></button>
  </ng-template>
</p-dialog>
