<!-- PLANTILLA CRUD -->

<app-crud [items]="filteredProviders" 
  [columns]="columns" 
  [canDelete]="true"
  [canExport]="false" 
  [(selection)]="selectedProviders"
  [dataKey]="'idProveedor'"
  (create)="openCreateModal()"
  (deleteAll)="deleteAllProviders()" 
  (export)="exportProviders()" 
  (edit)="openEditModal($event)"
  (delete)="confirmDelete($event)" 
  (search)="searchProviders($event)">
</app-crud>

<!-- FORMULARIOS -->

<p-dialog [(visible)]="showModal" [style]="{width: '450px'}"
  [header]="isEditing ? 'Editar Proveedor' : 'Crear Proveedor'" [modal]="true" class="p-fluid" appCrudModal
  [isEditing]="isEditing" (save)="saveProvider()" (cancel)="closeModal()">
  <ng-template pTemplate="content">
    <form [formGroup]="providerForm">


      <div class="field-group">
        <div class="field">
          <label for="nitProveedor">NIT</label>
          <input type="number" pInputText id="nitProveedor" formControlName="nitProveedor" required autofocus />
          <small class="p-error"
            *ngIf="providerForm.get('nitProveedor')?.invalid && providerForm.get('nitProveedor')?.touched">
            El NIT es obligatorio.
          </small>
        </div>

        <div class="field">
          <label for="nombreProveedor">Nombre</label>
          <input type="text" pInputText id="nombreProveedor" formControlName="nombreProveedor" required />
          <small class="p-error"
            *ngIf="providerForm.get('nombreProveedor')?.invalid && providerForm.get('nombreProveedor')?.touched">
            El nombre es obligatorio.
          </small>
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <label for="direccionProveedor">Dirección</label>
          <input type="text" pInputText id="direccionProveedor" formControlName="direccionProveedor" required />
          <small class="p-error"
            *ngIf="providerForm.get('direccionProveedor')?.invalid && providerForm.get('direccionProveedor')?.touched">
            La dirección es obligatoria.
          </small>
        </div>

        <div class="field">
          <label for="telefonoProveedor">Teléfono</label>
          <input type="text" pInputText id="telefonoProveedor" formControlName="telefonoProveedor" required />
          <small class="p-error"
            *ngIf="providerForm.get('telefonoProveedor')?.invalid && providerForm.get('telefonoProveedor')?.touched">
            El teléfono es obligatorio.
          </small>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="closeModal()"></button>
    <button pButton pRipple [label]="isEditing ? 'Actualizar' : 'Guardar'" icon="pi pi-check" class="p-button-text"
      (click)="saveProvider()"></button>
  </ng-template>
</p-dialog>