html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Fondo */
.min-h-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #E3F9E5, #A8EDDF);
  position: fixed;
  top: 0;
  left: 0;
}

/* Tarjeta */
.tarjeta {
  margin: 0;
  width: 100%;
  max-width: 500px;
  padding: 14.2px;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

/* Encabezado */
.text-center h2 {
  font-size: 1.5rem;
  color: #1a202c;
  margin-bottom: 10px;
  white-space: nowrap;
}

.text-gray-600 {
  color: #718096;
}

/* Inputs */
input {
  padding: 12px;
  width: 100%;
  border: none;
  font-size: 1rem;
  color: #4a5568;
  background-color: white;
  outline: none;
  transition: border-color 0.2s;
}

/* Quitar el ojo nativo del input de contraseña */
.input-password::-ms-reveal,
.input-password::-ms-clear,
.input-password::-webkit-reveal,
.input-password::-webkit-clear-button {
  display: none !important;
}

/* Bordes visibles */
.flex {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  padding: 5px;
}

input:focus {
  outline: none;
}

/* Iconos */
i {
  font-size: 1.25rem;
  color: #6b7280;
}

/* Icono del escudo */
.icono-escudo {
  color: white;
  font-size: 2rem;
}

/* Botón de restablecer */
button {
  background-color: #48bb78;
  color: white;
  font-weight: bold;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s, transform 0.2s;
}

button:hover {
  background-color: #38a169;
  transform: scale(1.05);
}