.menu{
  border: none;
  background-color: #ffffff;
}

.topbar {
  position: fixed;
  height: 4rem;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  background-color:#ffffff;
  /* transition: left $transitionDuration; */
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);

}

@media (max-width: 991px) {
  .topbar {
    justify-content: space-between;
  }
  .topbar .topbar-logo {
    width: auto;
    order: 2;
  }
  .topbar .menu-button {
    margin-left: 0;
    order: 1;
  }
  .topbar .topbar-menu-button {
    display: inline-flex;
    margin-left: 0;
    order: 3;
  }
  .topbar .topbar-menu {
    margin-left: 0;
    position: absolute;
    flex-direction: column;
    background-color: var(--surface-overlay);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 1rem;
    right: 2rem;
    top: 5rem;
    min-width: 15rem;
    display: none;
    -webkit-animation: scalein 0.15s linear;
    animation: scalein 0.15s linear;
  }
  .topbar .topbar-menu.topbar-menu-mobile-active {
    display: block;
  }
  .topbar .topbar-menu .topbar-button {
    margin-left: 0;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    border-radius: 12px;
    padding: 1rem;
  }
  .topbar .topbar-menu .topbar-button i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .topbar .topbar-menu .topbar-button span {
    font-weight: medium;
    display: block;
  }
}