<!-- PLANTILLA CRUD -->
 
<!-- aqui se llaman  las funciones definidas en el component.ts -->
<app-crud 
    [items]="filteredCategories"
    [columns]="columns" 
    [canDelete]="true" 
    [canExport]="false"
    [canSeeDetail]="false"  
    (create)="openCreateModal()"
    (export)="exportCategorie()" 
    (edit)="openEditModal($event)"
    (delete)="confirmDelete($event)" 
    (search)="searchCategorie($event)">
</app-crud>

<!-- FORMULARIOS -->

<p-dialog [(visible)]="showModal" [style]="{width: '450px'}" [header]="isEditing ? 'Editar Categoria' : 'Crear Categoria'"
    [modal]="true" class="p-fluid" appCrudModal [isEditing]="isEditing" (save)="saveCategorie()"
    (cancel)="closeModal()">
    <ng-template pTemplate="content">
        <form [formGroup]="categorieForm">
            <!-- pa mostrar los campos al frenta -->
            <div class="field-group">
                <div class="field">
                    <label for="nombreCategoria">Nombre categoria</label>
                    <input type="text" pInputText id="nombreCategoria" formControlName="nombreCategoria" required
                        autofocus />
                    <small class="p-error"
                        *ngIf="categorieForm.get('nombreCategoria')?.invalid && categorieForm.get('nombreCategoria')?.touched">
                        El nombre es obligatorio.
                    </small>
                </div>

                <div class="field">
                    <label for="descripcionCategoria">Descripcion</label>
                    <input type="text" pInputText id="descripcionCategoria" formControlName="descripcionCategoria" />
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text custom-cancel-btn"
            (click)="closeModal()"></button>
        <button pButton pRipple [label]="isEditing ? 'Actualizar' : 'Guardar'" icon="pi pi-check" class="p-button-text custom-save-btn"
            (click)="saveCategorie()"></button>
    </ng-template>
</p-dialog>