<div class="card">
  <div class="flex justify-between mb-3 items-center">
    <div class="flex space-x-2">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success" (click)="onCreate()"></button>
      <button *ngIf="DeleteGeneral" pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="onDeleteAll()"></button>
    </div>
    <div class="relative ml-auto flex items-center space-x-2">
      <button *ngIf="canExport" pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
        (click)="onExport()"></button>
        <input pInputText type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Buscar" class="pr-10" />
        <i *ngIf="searchQuery" class="pi pi-times absolute top-3 right-3 transform -translate-y-1/2 cursor-pointer text-gray-500"
           (click)="clearSearch()"></i>
        
    </div>
  </div>
  
    <p-table 
      [value]="items" 
      [(selection)]="selection"
      [dataKey]="dataKey"
      (selectionChange)="onSelectionChange($event)"
      [tableStyle]="{'min-width': '50rem'}" 
      sortMode="multiple" 
      [paginator]="true" 
      [rows]="5"
      [showCurrentPageReport]="true" 
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25]">
  
      <!-- Encabezado de la tabla -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th *ngIf="actions">Actions</th>
        </tr>
      </ng-template>
  
      <!-- Cuerpo de la tabla -->
      <ng-template pTemplate="body" let-item>
        <tr>
          <td><p-tableCheckbox [value]="item" *ngIf="Check"></p-tableCheckbox></td>
          <td *ngFor="let col of columns">
            {{item[col.field]}}
          </td>
          <td>
            <div class="flex">
              <button *ngIf="canEdit" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                (click)="onEdit(item)"></button>
              <button *ngIf="canDelete" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="onDelete(item)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  
</div>