


<!-- components/sale/sale.component.html -->
<div class="card">
  <div class="venta-productos-container">
    <div class="carrito-venta">
      <h1 class="texto-pequeno">Módulo de Ventas</h1>

      <form [formGroup]="busquedaForm" class="mb-3">
        <p-autoComplete formControlName="busqueda" [suggestions]="filteredProducts"
          (completeMethod)="searchProduct($event)" (onSelect)="addProductSale($event)" [dropdown]="true" field="nombreProducto"
          [forceSelection]="true" placeholder="Buscar producto por nombre o código" [style]="{'width':'100%'}">
          <ng-template let-product pTemplate="item">
            <div class="product-item">
              <div>{{product.nombreProducto}}</div>
              <div class="font-bold">{{product.precioVenta | currency}}</div>
            </div>
          </ng-template>
        </p-autoComplete>
      </form>

      <p-table [value]="detailSale" styleClass="p-datatable-sm texto-pequeno">
        <ng-template pTemplate="header">
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ getProductName(item.idProducto) }}</td>
            <td>{{ getProductPrice(item.precioVenta) | currency }}</td>
            <td>
              <p-inputNumber [(ngModel)]="item.cantidadProducto" [showButtons]="true" buttonLayout="horizontal"
                spinnerMode="horizontal" [min]="1" (onInput)="updateSubtotal(item)" [size]="3">
              </p-inputNumber>
            </td>
            <td>{{ item.subtotal | currency }}</td>
            <td>
              <button pButton icon="pi pi-trash" class="p-button-danger p-button-sm boton-pequeno"
                (click)="removeProductFromSale(item)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="detalle-venta">
      <h2 class="texto-pequeno">Detalles de Venta</h2>

      <div class="mb-3">
        <p-checkbox [(ngModel)]="imprimirRecibo" [binary]="true" label="Imprimir Recibo"
          styleClass="texto-pequeno"></p-checkbox>
      </div>

      <div class="total-venta mb-3">
        <h3 class="texto-pequeno">Total: {{total | currency:'USD':'symbol':'1.2-2'}}</h3>
      </div>

      <button pButton label="Asignar Crédito" icon="pi pi-credit-card" (click)="mostrarModalCredito()"
        class="p-button-secondary p-button-sm w-full mb-2 boton-pequeno"></button>

        <button pButton label="Finalizar Venta" icon="pi pi-check" (click)="createSale()"
        class="p-button-success p-button-sm w-full boton-pequeno"></button>
    </div>
  </div>
</div>

<p-dialog header="Asignar Crédito" [(visible)]="mostrarModalAsignarCredito" [modal]="true" [style]="{width: '50vw'}">
  <div class="contenido-modal">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="cliente" class="texto-pequeno">Cliente</label>
        <p-autoComplete [(ngModel)]="clienteSeleccionado" [suggestions]="filteredCredits"
          (completeMethod)="searchCreditClient($event)" field="nombreCliente" [dropdown]="true" [size]="30"></p-autoComplete>
      </div>

      <div class="p-field p-col-12">
        <label for="montoCredito" class="texto-pequeno">Monto del Crédito</label>
        <p-inputNumber [(ngModel)]="montoCredito" [min]="0" [max]="total" [step]="0.01" [size]="30"></p-inputNumber>
      </div>
    </div>
  </div>

  <p-footer>
    <button pButton label="Cancelar" icon="pi pi-times" (click)="cancelarAsignacionCredito()"
      class="p-button-text boton-pequeno"></button>
    <button pButton label="Confirmar" icon="pi pi-check" (click)="confirmarAsignacionCredito()"
      class="p-button-text boton-pequeno"></button>
  </p-footer>
</p-dialog>
