<!-- PLANTILLA CRUD -->
<app-crud 
[items]="roles" 
[columns]="columns" 
[canDelete]="true"
[canExport]="false"
[DeleteGeneral]="false"
(create)="openCreateModal()" 
(deleteAll)="deleteAllRoles()"
(edit)="openEditModal($event)" 
(delete)="confirmDelete($event)"
(search)="searchRoles($event)">
</app-crud>

<!-- FORMULARIOS -->
<p-dialog [(visible)]="showModal" [style]="{width: '450px'}" [header]="isEditing ? 'Editar Rol' : 'Crear Rol'"
    [modal]="true" class="p-fluid" appCrudModal [isEditing]="isEditing" (save)="saveRole()"
    (cancel)="closeModal()">
    <ng-template pTemplate="content">
        <form [formGroup]="rolesForm">
            <div class="field-group">
                <div class="field">
                    <label for="nombreRol">Nombre</label>
                    <input type="text" pInputText id="nombreRol" formControlName="nombreRol" required autofocus />
                    <small class="p-error" *ngIf="rolesForm.get('nombreRol')?.invalid && rolesForm.get('nombreRol')?.touched">
                        El nombre es obligatorio.
                    </small>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="closeModal()"></button>
        <button pButton pRipple [label]="isEditing ? 'Actualizar' : 'Guardar'" icon="pi pi-check" class="p-button-text"
            (click)="saveRole()"></button>
    </ng-template>
</p-dialog>
