<!-- PLANTILLA CRUD -->
<!-- aqui se llaman  las funciones definidas en el component.ts -->
<app-crud 
[items]="filteredProducts" 
[columns]="columns" 
[canDelete]="true" 
(create)="openCreateModal()"
(export)="exportProduct()" 
(edit)="openEditModal($event)"
(delete)="confirmDelete($event)" 
(search)="searchProduct($event)">
</app-crud>

<!-- FORMULARIOS -->

<p-dialog [(visible)]="showModal" [style]="{width: '450px'}" [header]="isEditing ? 'Editar Producto' : 'Crear Producto'"
    [modal]="true" class="p-fluid" appCrudModal [isEditing]="isEditing" (save)="saveProduct()"
    (cancel)="closeModal()">
    <ng-template pTemplate="content">
        <form [formGroup]="productForm">
            <!-- pa mostrar los campos al frenta -->
            <div class="field-group">
                <div class="field">
                    <label for="nombreProducto">Nombre Producto</label>
                    <input type="text" pInputText id="nombreProducto" formControlName="nombreProducto" required
                        autofocus />
                    <small class="p-error"
                        *ngIf="productForm.get('nombreProducto')?.invalid && productForm.get('nombreProducto')?.touched">
                        El nombre es obligatorio.
                    </small>
                </div>

                <div class="field">
                    <label for="categoria">Categoría</label>
                    <p-dropdown 
                      [options]="categories" 
                      formControlName="idCategoria"
                      optionLabel="nombreCategoria"
                      optionValue="idCategoria"
                      placeholder="Seleccionar categoría"
                      [virtualScroll]="true"
                      [virtualScrollItemSize]="38">
                    </p-dropdown>
                    <small class="p-error" *ngIf="productForm.get('idCategoria')?.invalid && productForm.get('idCategoria')?.touched">
                      La categoría es obligatoria.
                    </small>
                  </div>
                  
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="precioVenta">Precio venta</label>
                    <input type="number" pInputText id="precioVenta" formControlName="precioVenta" required
                        autofocus />
                    <small class="p-error"
                        *ngIf="productForm.get('precioVenta')?.invalid && productForm.get('precioVenta')?.touched">
                        El precio de venta es obligatorio.
                    </small>
                </div>

                <div class="field">
                    <label for="stock">Stock</label>
                    <input type="number" pInputText id="stock" formControlName="stock" />
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="closeModal()"></button>
        <button pButton pRipple [label]="isEditing ? 'Actualizar' : 'Guardar'" icon="pi pi-check" class="p-button-text"
            (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>