<h2 class="title" style="text-align: center;">Crear Compras</h2>

<form [formGroup]="shoppingForm" (ngSubmit)="saveShopping()" class="shopping-form">
    <!-- Formulario de Compra (Shoppings) -->

    <div class="field-group">

        <div class="field" [ngClass]="{'error': isFieldInvalid('idProveedor')}">
            <label for="proveedor">Proveedor</label>
            <div class="p-inputgroup">
                <p-dropdown [options]="providers" formControlName="idProveedor" optionLabel="nombreProveedor"
                    optionValue="idProveedor" placeholder="Seleccionar proveedor" [virtualScroll]="false"
                    [virtualScrollItemSize]="38" styleClass="w-full">
                </p-dropdown>
            </div>
        </div>

        <div class="field" [ngClass]="{'error': isFieldInvalid('fechaCompra')}">
            <label for="fechaCompra">fecha Compra</label>
            <input type="date" pInputText id="fechaCompra" formControlName="fechaCompra" required autofocus />
            <small class="p-error" *ngIf="isFieldInvalid('fechaCompra')">
                {{ getErrorMessage('fechaCompra') }}
            </small>
        </div>

    </div>





    <div class="field-group mb-5">

        <div class="field" [ngClass]="{'error': isFieldInvalid('numeroFactura')}">
            <label for="numeroFactura">numero Factura</label>
            <input type="number" pInputText id="numeroFactura" formControlName="numeroFactura" required autofocus />
            <small class="p-error" *ngIf="isFieldInvalid('numeroFactura')">
                {{ getErrorMessage('numeroFactura') }}
            </small>
        </div>

        <div class="field">
            <label for="valorCompra">valor Compra</label>
            <input type="number" pInputText id="valorCompra" formControlName="valorCompra" autofocus />
        </div>

    </div>

    <div class="divider"></div>

    <!-- Formulario de Detalles de Compra (ShoppingDetails) -->
    <div formArrayName="detalles" class="details-container">
        <div *ngFor="let detail of detalles.controls; let i = index" class="details-row">
            <div class="field" [ngClass]="{'error': isFieldInvalid('idProducto')}">
                <label for="producto">Producto</label>
                <div class="p-inputgroup">
                    <p-autoComplete formControlName="idProducto" [suggestions]="filteredProducts"
                        (completeMethod)="searchProduct($event)" field="nombreProducto" [dropdown]="true"
                        placeholder="Buscar" [forceSelection]="true" styleClass="w-full">
                    </p-autoComplete>
                </div>
            </div>
            <div class="field">
                <label for="codigoBarra">Código de Barra:</label>
                <input type="text" formControlName="codigoBarra" pInputText>
            </div>
            <div class="field">
                <label for="cantidadProducto">Cantidad:</label>
                <input type="number" formControlName="cantidadProducto" (input)="calculateSubtotal(i)" pInputText>
            </div>
            <div class="field">
                <label for="precioCompraUnidad">Precio x Unidad:</label>
                <input type="number" formControlName="precioCompraUnidad" (input)="calculateSubtotal(i)" pInputText>
            </div>

            <div class="field">
                <label>Subtotal:</label>
                <input type="text" formControlName="subtotal" pInputText>
            </div>

            <div class="field">
                <button type="button" (click)="removeShoppingDetail(i)" class="p-button p-button-danger mt-5">
                    <i class="pi pi-trash"></i>
                </button>
            </div>
        </div>
    </div>

    <button type="button" (click)="addShoppingDetail()" class="p-button p-button-secondary mr-3">
        <i class="pi pi-plus"></i> Agregar Detalle
    </button>
    <button type="submit" class="p-button p-button-success">Guardar Compra</button>
</form>