<!-- PLANTILLA CRUD -->
<app-crud 
  [items]="filteredClients" 
  [columns]="columns" 
  [canDelete]="false"
  [canExport]="true" 
  [canSeeDetail]="true"
  
  [canChangeStatus]="true"
  [showStateColumn]="true"
  [statusField]="'estadoCliente'"

  (create)="openCreateModal()"
  (export)="exportClients()" 
  (edit)="openEditModal($event)"
  (search)="searchClients($event)"
  (statusChange)="changeClientStatus($event)">
</app-crud>
<!-- FORMULARIOS -->

<p-dialog [(visible)]="showModal" [style]="{width: '450px'}" [header]="isEditing ? 'Editar Cliente' : 'Crear Cliente'"
  [modal]="true" class="p-fluid" appCrudModal [isEditing]="isEditing" (save)="saveClient()" (cancel)="closeModal()">
  <ng-template pTemplate="content">
    <form [formGroup]="clientForm">    

      <div class="field" [ngClass]="{'error': isFieldInvalid('cedulaCliente')}">
        <label for="cedulaCliente">Cédula</label>
        <input type="text" pInputText id="cedulaCliente" formControlName="cedulaCliente" maxlength="15" autofocus />
        <small class="p-error" *ngIf="isFieldInvalid('cedulaCliente')">
          {{ getErrorMessage('cedulaCliente') }}
        </small>        
      </div>

      <div class="field-group">
        <div class="field" [ngClass]="{'error': isFieldInvalid('nombreCliente')}">
          <label for="nombreCliente">Nombre</label>
          <input type="text" pInputText id="nombreCliente" formControlName="nombreCliente" />
          <small class="p-error" *ngIf="isFieldInvalid('nombreCliente')">
            {{ getErrorMessage('nombreCliente') }}
          </small>
        </div>

        <div class="field" [ngClass]="{'error': isFieldInvalid('apellidoCliente')}">
          <label for="apellidoCliente">Apellido</label>
          <input type="text" pInputText id="apellidoCliente" formControlName="apellidoCliente" />
          <small class="p-error" *ngIf="isFieldInvalid('apellidoCliente')">
            {{ getErrorMessage('apellidoCliente') }}
          </small>
        </div>
      </div>

      <div class="field-group">
        <div class="field" [ngClass]="{'error': isFieldInvalid('direccionCliente')}">
          <label for="direccionCliente">Dirección</label>
          <input type="text" pInputText id="direccionCliente" formControlName="direccionCliente" />
          <small class="p-error" *ngIf="isFieldInvalid('direccionCliente')">
            {{ getErrorMessage('direccionCliente') }}
          </small>
        </div>
        
        <div class="field" [ngClass]="{'error': isFieldInvalid('telefonoCliente')}">
          <label for="telefonoCliente">Teléfono</label>
          <input type="text" pInputText id="telefonoCliente" formControlName="telefonoCliente" minlength="7" maxlength="10" />
          <small class="p-error" *ngIf="isFieldInvalid('telefonoCliente')">
            {{ getErrorMessage('telefonoCliente') }}
          </small>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text custom-cancel-btn" 
            (click)="closeModal()" (click)="cancelModalMessage()" aria-label="Cancelar"></button>
    <button pButton pRipple [label]="isEditing ? 'Actualizar' : 'Guardar'" icon="pi pi-check" 
            class="p-button-text custom-save-btn" (click)="saveClient()" aria-label="Guardar"></button>
  </ng-template>
</p-dialog>

