<!-- PLANTILLA CRUD -->
<app-crud 
  [items]="filteredClients" 
  [columns]="columns" 
  [canDelete]="false"
  [canExport]="true" 
  [canSeeDetail]="true" 
  (create)="openCreateModal()"
  (export)="exportClients()" 
  (edit)="openEditModal($event)"
  (delete)="confirmDelete($event)" 
  (search)="searchClients($event)">
</app-crud>

<!-- FORMULARIOS -->

<p-dialog [(visible)]="showModal" [style]="{width: '450px'}" [header]="isEditing ? 'Editar Cliente' : 'Crear Cliente'"
  [modal]="true" class="p-fluid" appCrudModal [isEditing]="isEditing" (save)="saveClient()" (cancel)="closeModal()">
  <ng-template pTemplate="content">
    <form [formGroup]="clientForm">    

      <div class="field" [ngClass]="{'error': clientForm.get('cedulaCliente')?.invalid && clientForm.get('cedulaCliente')?.touched}">
        <label for="cedulaCliente">Cédula</label>
        <input type="text" pInputText id="cedulaCliente" formControlName="cedulaCliente" maxlength="15" required autofocus />
        <small class="p-error" *ngIf="clientForm.get('cedulaCliente')?.invalid && clientForm.get('cedulaCliente')?.touched || clientForm.get('cedulaCliente')?.dirty">
          {{ getErrorMessage('cedulaCliente') }}
        </small>
      </div>

      <div class="field-group">
        <div class="field" [ngClass]="{'error': clientForm.get('nombreCliente')?.invalid && clientForm.get('nombreCliente')?.touched}">
          <label for="nombreCliente">Nombre</label>
          <input type="text" pInputText id="nombreCliente" formControlName="nombreCliente" required />
          <small class="p-error" *ngIf="clientForm.get('nombreCliente')?.invalid && clientForm.get('nombreCliente')?.touched || clientForm.get('nombreCliente')?.dirty">
            {{ getErrorMessage('nombreCliente') }}
          </small>
        </div>

        <div class="field" [ngClass]="{'error': clientForm.get('apellidoCliente')?.invalid && clientForm.get('apellidoCliente')?.touched}">
          <label for="apellidoCliente">Apellido</label>
          <input type="text" pInputText id="apellidoCliente" formControlName="apellidoCliente" required />
          <small class="p-error" *ngIf="clientForm.get('apellidoCliente')?.invalid && clientForm.get('apellidoCliente')?.touched || clientForm.get('apellidoCliente')?.dirty">
            {{ getErrorMessage('apellidoCliente') }}
          </small>
        </div>
      </div>

      <div class="field-group">
        <div class="field" [ngClass]="{'error': clientForm.get('direccionCliente')?.invalid && clientForm.get('direccionCliente')?.touched}">
          <label for="direccionCliente">Dirección</label>
          <input type="text" pInputText id="direccionCliente" formControlName="direccionCliente" required />
          <small class="p-error" *ngIf="clientForm.get('direccionCliente')?.invalid && clientForm.get('direccionCliente')?.touched || clientForm.get('direccionCliente')?.dirty">
            {{ getErrorMessage('direccionCliente') }}
          </small>
        </div>
        
        <div class="field" [ngClass]="{'error': clientForm.get('telefonoCliente')?.invalid && clientForm.get('telefonoCliente')?.touched}">
          <label for="telefonoCliente">Teléfono</label>
          <input type="text" pInputText id="telefonoCliente" formControlName="telefonoCliente" minlength="7" maxlength="10" required />
          <small class="p-error" *ngIf="clientForm.get('telefonoCliente')?.invalid && clientForm.get('telefonoCliente')?.touched || clientForm.get('telefonoCliente')?.dirty">
            {{ getErrorMessage('telefonoCliente') }}
          </small>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text custom-cancel-btn" (click)="closeModal()"></button>
<button pButton pRipple [label]="isEditing ? 'Actualizar' : 'Guardar'" icon="pi pi-check" class="p-button-text custom-save-btn" (click)="saveClient()"></button>

  </ng-template>
</p-dialog>
